Let's Go Biking - Server/SOAP server/SOAP WCF/Connected Services/ProxyServices/ProxyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/ProxyService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Proxy_WCF" />
  <xs:import schemaLocation="http://localhost:8088/ProxyService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
  <xs:element name="Contracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proxy_WCF" minOccurs="0" name="ContractsResult" nillable="true" type="q1:ArrayOfContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Proxy_WCF" minOccurs="0" name="StationsResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Station">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Proxy_WCF" minOccurs="0" name="StationResult" nillable="true" type="q3:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Querry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="querry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Proxy_WCF" minOccurs="0" name="QuerryResult" nillable="true" type="q4:ArrayOfPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeoCoordinate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="querry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeoCoordinateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="GeoCoordinateResult" nillable="true" type="q5:GeoCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Route">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="start" nillable="true" type="q6:GeoCoordinate" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="end" nillable="true" type="q7:GeoCoordinate" />
        <xs:element minOccurs="0" name="transport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Proxy_WCF" minOccurs="0" name="RouteResult" nillable="true" type="q8:Route" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>